article-window.yellow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

    
    border: none;
    background-color: #fffcd9;
    border-radius: 20px;

    color:#3a3500;
}

article-window.pink{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

    
    border: none;
    background-color: #fffcd9;
    border-radius: 20px;

    color:deeppink
}




article-container{
    display: block;
    
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
article-container:focus{
outline: none;
}

article-container article-content{
    text-align: center;
    display: block;
    margin-top: 1em;
    margin-bottom: 2em; 
    
}

article-container h1{
    display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

article-container sub{

    vertical-align: sub;
    font-size: smaller;
    margin-top: none;
}




blockquote{
    margin-top: 1em;
    margin-bottom: 1em; 
}

blockquote.pink{
      
    margin-left: 20px; /* Adjust the indentation as needed */
    padding-left: 10px; /* Adjust the indentation as needed */
    border-left: 10px solid #ff69f2; /* Color and thickness of the left line */
    padding: 20px;
    background-color:#ffbefa;
    border-radius: 20px;
    text-align: left;
    max-width: fit-content;
}



